# Ignore the virtual environment
.venv/

# Ignore python cache files (these appear when you run tests)
__pycache__/
*.pyc
.pytest_cache/
config/__pycache__
.cache

poc.py
.spotify_cache*
.env
credentials.json

# Local Data Files
songs_DB/dataset.csv

# Partner's files (Do not touch)
songs_DB/songs_data.npy
songs_DB/songs_meta.csv

# My Engine Files (New)
tracks_features.npy
tracks_meta.csv

# Streamlit secrets file
.streamlit/secrets.toml

.DS_Store
**/.DS_Store